.cabal-sandbox/
.hpc
.hsenv
.HTF/
.stack-work/
.vscode/
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*
ff-core.cabal
ff.cabal
